apiVersion: v1
kind: Service
metadata:
  name: nominatim
  labels:
    app: nominatim
spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: nominatim