name: CI

on:
  push:
  pull_request:

jobs:
  docker:
    name: Build and test docker image

    strategy:
      matrix:
        nominatim:
          - version: 3.7
            update_command: docker exec -i nominatim sudo -u nominatim nominatim replication --project-dir /nominatim --once
          - version: 3.6
            update_command: docker exec -i nominatim sudo -u nominatim ./src/build/utils/update.php

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build docker image
        run: docker build -t nominatim .
        working-directory: ${{ matrix.nominatim.version }}

      - name: Check import and update
        working-directory: .github/workflows
        run: |-
          # get the first day of the previous month to make sure that there really are updates to apply
          # (Geofabrik stores a snapshot from the first of the month for up to 3 months)
          first_of_previous_month=`date --date="1 months ago" +%y%m01`
          docker run -i --rm \
            -e PBF_URL=http://download.geofabrik.de/europe/monaco-${first_of_previous_month}.osm.pbf \
            -e REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates/ \
            -p 8001:8080 \
            --name nominatim \
            nominatim &
          sleep 35
          ./assert-non-empty-json "http://localhost:8001/search.php?q=avenue%20pasteur"
          ${{ matrix.nominatim.update_command }}
          ./assert-non-empty-json "http://localhost:8001/search.php?q=avenue%20pasteur"
          docker stop nominatim

      - name: Check import with mount
        working-directory: .github/workflows
        run: |-
          docker run -i --rm \
            -e PBF_URL=http://download.geofabrik.de/europe/monaco-latest.osm.pbf \
            -e REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates/ \
            -v nominatim-data:/var/lib/postgresql/12/main \
            -p 8002:8080 \
            nominatim &
          sleep 35
          ./assert-non-empty-json "http://localhost:8002/search.php?q=avenue%20pasteur"

      - name: Check import with bind-mount
        working-directory: .github/workflows
        run: |-
          docker run -i --rm \
            -e PBF_URL=http://download.geofabrik.de/europe/monaco-latest.osm.pbf \
            -e REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates/ \
            -v /tmp/nominatim-data:/var/lib/postgresql/12/main \
            -p 8003:8080 \
            --name nominatim \
            nominatim &
          sleep 35
          ./assert-non-empty-json "http://localhost:8003/search.php?q=avenue%20pasteur"
          docker stop nominatim

      - name: Check container restart and update with bind-mount
        working-directory: .github/workflows
        run: |-
          # get the first day of the previous month to make sure that there really are updates to apply
          # (Geofabrik stores a snapshot from the first of the month for up to 3 months)
          first_of_previous_month=`date --date="1 months ago" +%y%m01`
          docker run -i --rm \
            -e PBF_URL=http://download.geofabrik.de/europe/monaco-${first_of_previous_month}.osm.pbf \
            -e REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates/ \
            -v nominatim-data:/var/lib/postgresql/12/main \
            -p 8004:8080 \
            --name nominatim \
            nominatim &
          sleep 5
          ./assert-non-empty-json "http://localhost:8004/search.php?q=avenue%20pasteur"
          ${{ matrix.nominatim.update_command }}
          ./assert-non-empty-json "http://localhost:8004/search.php?q=avenue%20pasteur"

      - name: Check import full style
        working-directory: .github/workflows
        run: |-
          docker run -i --rm \
            -e PBF_URL=http://download.geofabrik.de/europe/monaco-latest.osm.pbf \
            -e REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates/ \
            -e IMPORT_STYLE=full \
            -p 8005:8080 \
            nominatim &
          sleep 35
          ./assert-non-empty-json "http://localhost:8005/search.php?q=Paris"

      - name: Check import admin style
        working-directory: .github/workflows
        run: |-
          docker run -i --rm \
            -e PBF_URL=http://download.geofabrik.de/europe/monaco-latest.osm.pbf \
            -e REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates/ \
            -e IMPORT_STYLE=admin \
            -p 8006:8080 \
            nominatim &
          sleep 35
          ./assert-empty-json "http://localhost:8006/search.php?q=Paris"

      - name: Check import and update with flatnode
        if: ${{ matrix.nominatim.version >= 3.7 }}
        working-directory: .github/workflows
        run: |-
          first_of_previous_month=`date --date="1 months ago" +%y%m01`
          docker run -i --rm \
            -e PBF_URL=http://download.geofabrik.de/europe/monaco-${first_of_previous_month}.osm.pbf \
            -e REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates/ \
            -v nominatim-data-flatnode:/var/lib/postgresql/12/main \
            -v nominatim-flatnode:/nominatim/flatnode \
            -p 8007:8080 \
            --name nominatim \
            nominatim &
          sleep 35
          ./assert-non-empty-json "http://localhost:8007/search.php?q=avenue%20pasteur"
          ${{ matrix.nominatim.update_command }}
          docker stop nominatim

      - name: Check restart and update with flatnode
        if: ${{ matrix.nominatim.version >= 3.7 }}
        working-directory: .github/workflows
        run: |-
          first_of_previous_month=`date --date="1 months ago" +%y%m01`
          docker run -i --rm \
            -e PBF_URL=http://download.geofabrik.de/europe/monaco-${first_of_previous_month}.osm.pbf \
            -e REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates/ \
            -v nominatim-data-flatnode:/var/lib/postgresql/12/main \
            -v nominatim-flatnode:/nominatim/flatnode \
            -p 8007:8080 \
            --name nominatim \
            nominatim &
          sleep 35
          ./assert-non-empty-json "http://localhost:8007/search.php?q=avenue%20pasteur"
          ${{ matrix.nominatim.update_command }}
          ./assert-non-empty-json "http://localhost:8007/search.php?q=avenue%20pasteur"

      - name: Login to DockerHub
        if: ${{ github.ref == 'refs/heads/master' && github.repository_owner == 'mediagis' }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push production docker image to Dockerhub
        if: ${{ github.ref == 'refs/heads/master' && github.repository_owner == 'mediagis' }}
        run: |-
          docker buildx build --platform linux/amd64,linux/arm64 --push \
             -t mediagis/nominatim:${{ matrix.nominatim.version }} \
             -t mediagis/nominatim:${{ matrix.nominatim.version }}-${{ github.sha }} .
        working-directory: ${{ matrix.nominatim.version }}
